{
  "openapi": "3.0.3",
  "info": {
    "title": "Revolution X API",
    "description": "Advanced AI Trading Platform API",
    "version": "5.9.0",
    "contact": {
      "name": "API Support",
      "email": "api@revolutionx.com"
    }
  },
  "servers": [
    {
      "url": "https://api.revolutionx.com/v1",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.revolutionx.com/v1",
      "description": "Staging server"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "summary": "User login",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful login",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/trading/trades": {
      "post": {
        "summary": "Execute trade",
        "tags": ["Trading"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TradeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Trade executed successfully"
          },
          "400": {
            "description": "Invalid request"
          },
          "403": {
            "description": "Trading not allowed"
          }
        }
      }
    },
    "/ai/predict/{symbol}": {
      "get": {
        "summary": "Get AI prediction",
        "tags": ["AI"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prediction result"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "format": "password"
          }
        },
        "required": ["email", "password"]
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string",
            "example": "bearer"
          }
        }
      },
      "TradeRequest": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string",
            "example": "EURUSD"
          },
          "side": {
            "type": "string",
            "enum": ["buy", "sell"]
          },
          "volume": {
            "type": "number",
            "example": 0.1
          },
          "stop_loss": {
            "type": "number"
          },
          "take_profit": {
            "type": "number"
          }
        },
        "required": ["symbol", "side", "volume"]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
